<div class="col-md-12 text-center">
    <br>
    <h1>Ver ofertas de un inmueble</h1>
    <br>
    <hr>
</div>
<div class="col-md-12 text-center img-h-max">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSDoDTUd9eRNeYvfNGf80E4kmbqcMaNrPCNvA&usqp=CAU" class="img-fluid img-h-max" alt="Responsive image">
</div>
<div class="col-md-12 text-center">
   <div class="container">
       <div class="row">
           <div class="col-md-6 text-center border-left">
               <h3>Titulo del inmueble</h3>
                <p>Precio inicial &nbsp; $2000</p>
               <hr>
               <h3>Ultima oferta: $ 3000</h3>
           </div>
           <div class="col-md-6 text-center">
               <h4>Descripción del inmueble</h4>
               <p>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius expedita facere, magni minus nam nulla numquam omnis pariatur perferendis porro reiciendis, rerum similique, totam vel veritatis voluptates. In, vel.
               </p>
           </div>
       </div>
   </div>
</div>
