<div class="col-md-12 col-lg-12 text-center">

    <h1>Subasta del inmueble</h1>

    <hr class="w-50">
</div>
<div class="col-md-12 col-lg-12 text-center img-h-max">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSDoDTUd9eRNeYvfNGf80E4kmbqcMaNrPCNvA&usqp=CAU" class="img-fluid img-h-max" alt="Responsive image">
</div>

<div class="col-md-12 col-lg-12 text-center mt-2">
   <div class="container">
       <div class="row">
           <div class="col-md-6 col-lg-6 text-center border-right">
               <h3>{{property.title}}</h3>
                <p>Precio inicial: &nbsp;${{property.price}}</p>
               <hr>
               <h3 *ngIf="offers.length > 0">Última oferta: ${{offers[0].amount}}</h3>
           </div>
           <div class="col-md-6 col-lg-6 text-center">
               <h4>Descripción de la propiedad</h4>
               <p>
                   {{property.description}}
               </p>
           </div>
       </div>
       <div class="row" *ngIf="offers.length > -1 ">
           <div class="col-md-12 col-lg-12">
               <a class="btn btn-outline-dark float-md-right float-lg-right" href="javascript:void(0);" (click)="closeAuction()">Cerrar subasta</a>
           </div>
       </div>
   </div>

    <hr>
    <div class="container">
        <div class="row" *ngIf="offers.length > 0 ">
            <div class="col-md-12 col-lg-12 text-center mb-2">
                <h3>Ofertas del inmueble</h3>
            </div>
            <div class="col-md-4 col-lg-4" *ngFor="let offer of offers| paginate: { itemsPerPage: 3, currentPage: startPage}">
                <jhi-card-offer [amount]="''+offer.amount" [buyerName]="offer.userAccount?.user?.login+' '+offer.userAccount?.user?.firstName+' '+offer.userAccount?.user?.lastName" [buyerImage]="offer.userAccount?.profilePicture" [buyerMessage]="offer?.commentary"></jhi-card-offer>
            </div>
            <div class="col-md-12 text-center mb-2" *ngIf="offers.length > 3">
                <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="startPage = $event"></pagination-controls>
            </div>
        </div>

        <div class="row" *ngIf="offers.length == 0 ">
            <div class="col-md-12 col-lg-12 text-center mb-2">
                <h3>Sin ofertas por el momento</h3>
            </div>
        </div>
    </div>
</div>
