.ticketLogs {
  height: 100%;
}

.defaultCard {
  box-shadow: 0 0 0px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
  padding: 20px;
}

.defaultCard:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
}

.ticketItems:hover {
  background: #eaf2f5;
}

.ticketDetails {
  max-height: 600px;
  min-height: 400px;
  overflow: scroll;
}

.ticketDetails::-webkit-scrollbar {
  display: none;
}
.ticketDetails {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.ticketDetails::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.ticketDetails::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
