<div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="settings.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="settings.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="settings.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <div class="alert alert-danger" *ngIf="errorSignatureNotSaved" jhiTranslate="global.messages.error.dontdrawsignature">
                The signature is required
            </div>

            <div class="alert alert-danger" *ngIf="errorUserImage" jhiTranslate="global.messages.error.dontuploadimage">
                The user image is required
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="update" [formGroup]="settingsForm" *ngIf="!success">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Datos de la cuenta: {{completeName}}</h2>
                    </div>
                    <div class="card-body">
                        <div class="row pb-3">
                            <div class="col-12">
                                <label>Imagen de su cuenta</label>
                                <ngx-dropzone (change)="onSelectImage($event)" class="m-1" [multiple]="false" [accept]="'image/*'">
                                    <ngx-dropzone-label>Suba una imagen de su perfil</ngx-dropzone-label>
                                    <ngx-dropzone-image-preview
                                        ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of files"
                                        [file]="f"
                                        [removable]="true"
                                        (removed)="onRemoveImage(f)">
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="birthdate" jhiTranslate="global.form.birthdate.label">Birth date</label>
                                    <input [ngModel]="userAccount.birthdate | date:'yyyy-MM-dd'" type="date" class="form-control" id="birthdate" name="birthdate" placeholder="YYYY-MM-DD"
                                           formControlName="birthdate" #birthdate>
                                </div>

                                <div *ngIf="settingsForm.get('birthdate')!.invalid && (settingsForm.get('birthdate')!.dirty || settingsForm.get('birthdate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="settingsForm.get('birthdate')?.errors?.required">
                                        La fecha de nacimiento es requerido
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="firstName">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName"
                                           formControlName="firstName" #firstName>
                                </div>

                                <div *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="settingsForm.get('firstName')?.errors?.required">
                                        El nombre es requerido.
                                    </small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="lastName">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName"
                                           formControlName="lastName" #lastName>
                                </div>

                                <div *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="settingsForm.get('lastName')?.errors?.required">
                                        El apellido es requerido.
                                    </small>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                           formControlName="email">

                                    <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('email')?.errors?.required"
                                               jhiTranslate="global.messages.validate.email.required">
                                            Your email is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('email')?.errors?.invalid"
                                               jhiTranslate="global.messages.validate.email.invalid">
                                            Your email is invalid.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('email')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.email.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('email')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.email.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="signatureImageUrl">Firma</label>
                                <ng-signature-pad id="signatureImageUrl" clearButtonText='Limpiar' doneButtonText='Guardar firma'
                                                  [emitOnDragEnd]="true" (done)="saveSignatureImage($event)"></ng-signature-pad>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Update</button>
                        <a class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
