<footer class="container-fluid bg-primary mt-5">
    <div class="bg-footer"></div>
    <div class="row m-2-hor">
        <div class="col-md-6">
            <div class="footer-col">
                <div class="heading">
                    <h2>Sobre Home Building</h2>
                </div>
                <div class="content">
                    <p>Somos una empresa dedicada a la promoción de subastas de inmuebles online, con sede en América Central en Costa Rica.</p>
                </div>
                <div class="link-call">homebuilding123Su@gmail.com</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="footer-col">
                <div class="heading">Enlaces</div>
                <div class="content">
                    <div class="{{router.url === '/'?'active d-none':''}}">
                        <a class="footer-link" [routerLink]="['/']">
                            <span>
                               <i class="fa fa-home"></i>
                                <span >Inicio</span>
                            </span>
                        </a>
                    </div>
                    <div  *ngIf="isAuthenticated()" class="{{router.url === '/sales/list'?'active d-none':''}}">
                        <a class="footer-link" [routerLink]="['/sales/list']">
                            <span>
                                <i class="fa fa-university"></i>
                                <span >Subastas</span>
                            </span>
                        </a>
                    </div>
                    <div  *ngIf="!isAuthenticated()" class="{{router.url === '/account/register'?'active d-none':''}}">
                        <a class="footer-link" [routerLink]="['/account/register']">
                            <span>
                                <i class="fa fa-address-card"></i>
                                <span >Crear cuenta</span>
                            </span>
                        </a>
                    </div>
                    <div  *ngIf="!isAuthenticated()" class="{{router.url === '/auth/login'?'active d-none':''}}">
                        <a class="footer-link" [routerLink]="['/auth/login']"  >
                            <span>
                                <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                                <span >Iniciar sesi&oacute;n</span>
                            </span>
                        </a>
                    </div>
                    <div *ngIf="isAuthenticated()">
                        <a class="footer-link" [routerLink]="['/support-ticket/new']"  >
                            <span>
                                <i class="fas fa-question" aria-hidden="true"></i>
                                <span>Ayuda</span>
                            </span>
                        </a>
                    </div>
                    <!--<div class="link">Contactenos</div>-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-col">
                <div class="heading">Siguenos</div>
                <div class="content">
                    <div class="socialicon"><span class="shine"></span><i style="font-size: 30px;" class="fab fa-facebook "></i></div>
                    <div class="socialicon"><span class="shine"></span><i style="font-size: 30px;"  class="fab fa-linkedin"></i></div>
                    <div class="socialicon"><span class="shine"></span><i style="font-size: 30px;"  class="fab fa-twitter"></i></div>
                    <div class="socialicon"><span class="shine"></span><i style="font-size: 30px;"  class="fab  fa-instagram"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="row m-2-hor">
            <div class="col-md-8">
                <div class="content">© Copyrights 2020 Home Building. Todos los derechos reservados. Desarrollado por
                    <a href="http://novacoders.myuniversidad.com/">NovaCoders</a>.
                </div>
            </div>
        </div>
    </div>
</footer>
