<footer class="container-fluid black_more">
    <div class="bg-footer"></div>
    <div class="row m-2-hor">
        <div class="col-md-4">
            <div class="footer-col">
                <div class="heading">
                    <h2>About Us</h2>
                </div>
                <div class="content">
                    <p>Our dedicated home interior designers work with you tirelessly to tie your style with their design expertise, creating the perfect interior design concept.</p>
                </div>
                <div class="link-call">support@Homekins.com</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="footer-col">
                <div class="heading">Usefull link</div>
                <div class="content">
                    <div class="link">Frequently Asked</div>
                    <div class="link">Terms &amp; Conditions</div>
                    <div class="link">Help Center</div>
                    <div class="link">Contact Us</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="footer-col">
                <div class="heading">Features</div>
                <div class="content">
                    <div class="link">Career</div>
                    <div class="link">Brand Identity</div>
                    <div class="link">Investment</div>
                    <div class="link">Agency Patner</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-col">
                <div class="heading">Follow Us</div>
                <div class="content">
                    <p>Explore thousands of inspiring interior designs, from our best team here.</p>
                    <div class="socialicon"><span class="shine"></span><i class="fa fa-facebook-f"></i></div>
                    <div class="socialicon"><span class="shine"></span><i class="fa fa-linkedin"></i></div>
                    <div class="socialicon"><span class="shine"></span><i class="fa fa-twitter"></i></div>
                    <div class="socialicon"><span class="shine"></span><i class="fa  fa-instagram"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="row m-2-hor">
            <div class="col-md-6">
                <div class="content">© Copyrights 2020 Home Builder. Todos los derechos reservados.</div>
            </div>
        </div>
    </div>
</footer>
