#mainCard {
  box-shadow: 0 0 0px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
  padding: 20px;
}

#mainCard:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
}

.imagenSoporte {
  overflow: hidden;
}

.defaultCard {
  box-shadow: 0 0 0px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
  padding: 20px;
}

.defaultCard:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
}

.container {
  max-width: 1920px;
  width: 70%;
}
