<div class="container" style="margin-top: 110px;">
    <div style="margin-top: 110px;" class="col-12 text-center">
        <h1>Ticket de soporte #{{ticketNumber}}</h1>
        <hr>
    </div>
    <div id="mainCard">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                   aria-controls="pills-home" aria-selected="true">Estado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                   aria-controls="pills-profile" aria-selected="false">Historial</a>
            </li>
            <li *ngIf="this.ticketResolved" class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                   aria-controls="pills-contact" aria-selected="false">Ingresar Notas</a>
            </li>
        </ul>
        <div class="tab-content pt-2 pl-1" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="card">
                    <div class="cropped p-0 m-0">
                        <img class="card-img-top imagenSoporte" src="https://res.cloudinary.com/dsx9svdes/image/upload/v1607999635/Support_Picture_tbjwt9.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="col-md-12" [ngSwitch]="this.ticketResolved">
                                <span *ngSwitchCase="true" class="badge badge-pill badge-success float-right">Abierto</span>
                                <span *ngSwitchCase="false" class="badge badge-pill badge-danger float-right">Cerrado</span>
                            </div>
                            <div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="card mb-6 defaultCard" style="max-width: 600px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <img *ngIf="this.profilePicture == ''" src="https://res.cloudinary.com/dsx9svdes/image/upload/v1606008693/default_ucc0ug.png" class="card-img" alt="...">
                                                    <img *ngIf="this.profilePicture != ''" src="{{this.profilePicture}}" class="card-img" alt="...">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><strong>{{this.client.firstName}} {{this.client.lastName}}</strong></h4>
                                                        <h6><strong>Usuario: </strong>{{this.client.login}}</h6>
                                                        <h6><strong>Telefono: </strong>{{this.clientPhone}}</h6>
                                                        <h6><strong>Correo: </strong>{{this.client.email}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <h5>{{this.ticketSelected.title}}</h5>
                                        <p class="overflow-auto">{{this.ticketSelected.message}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button (click)="closeTicket()" *ngIf="this.ticketSelected.state" class="btn btn-danger">Cerrar</button>
                        <button (click)="reOpenTicket()" *ngIf="!this.ticketSelected.state" class="btn btn-primary">Reabrir</button>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <h3>Historial de soporte</h3>
                <div *ngFor="let log of supportTicketLogs| paginate: { itemsPerPage: 3, currentPage: startPage }">
                    <div class="card defaultCard mt-3">
                        <div class="card-header">
                            <label>Anotaciones del {{log.creationDate | date}}</label>
                        </div>
                        <div class="card-body overflow-auto">
                            <div>
                                <ul class="list-group list-group-flush">
                                    <div>
                                        <h5>Comentarios:</h5>
                                        <li class="list-group-item">{{log.troubleshootingCommentary}}</li>
                                    </div>
                                    <div>
                                        <h5>Siguientes pasos:</h5>
                                        <li class="list-group-item">{{log.nextStepCommentary}}</li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-12 text-center">
                        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="startPage = $event"></pagination-controls>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <form name="form" role="form" [formGroup]="annotationsForm">
                    <h3>Nueva anotacion</h3>
                    <div>
                        <label class="form-control-label" for="troubleshooting_commentary">Comentarios: </label>
                        <textarea type="text" rows="10" class="form-control" id="troubleshooting_commentary" name="troubleshooting_commentary"
                                  placeholder="Aqui puedes agregar datos pertinentes al progreso del ticket."
                                  formControlName="troubleshooting_commentary" #troubleshooting_commentary></textarea>
                    </div>
                    <div class="pt-2">
                        <label class="form-control-label" for="next_step_commentary">Siguientes pasos: </label>
                        <textarea type="text" class="form-control" id="next_step_commentary" name="next_step_commentary" placeholder="Aqui puedes anotar tus siguientes pasos"
                                  rows="10" formControlName="next_step_commentary" #next_step_commentary></textarea>
                    </div>
                    <div class="pt-3">
                        <button (click)="registerLog()" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

