<div class="col-md-12 col-lg-12 text-center">

    <h1>{{property.title}}</h1>
    <span *ngIf="offers.length > 0 && property.state == 3" class="badge badge-danger">Subasta cerrada</span>
    <hr class="w-50">
</div>
<div class="col-md-12 col-lg-12 text-center">
    <jhi-image-viewer [images]="images"></jhi-image-viewer>
</div>
<div class="col-md-12 col-lg-12 text-center mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 text-center border-right">
                <h3>Dueño del inmueble</h3>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-3" >
                        <img src="{{property?.userAccount?.profilePicture}}" alt="Avatar" class="avatar">
                    </div>
                    <div class="col-md-9 col-lg-9 col-sm-9 text-lg-left text-md-left text-sm-center">
                        <h6>Nombre:&nbsp;{{property?.userAccount?.user.login+' '+property?.userAccount?.user.firstName+' '+property?.userAccount?.user.lastName}}</h6>
                        <h6>Correo:&nbsp;{{property?.userAccount?.user.email}}</h6>
                        <h6>Teléfono:&nbsp;{{property?.userAccount?.phone}}</h6>
                    </div>
                </div>
                <hr>
                <div class="text-lg-left text-md-left text-sm-center">
                    <h4>Detalles de la propiedad</h4>
                    <h6>Precio inicial: &nbsp;${{property.price}}</h6>
                    <div *ngIf="property.discount >0 && property.discount < 101">
                        <h6>Descuento: &nbsp;{{property.discount}}%</h6>
                        <h6>Precio actual: &nbsp;${{(property.price) - (property.price*property.discount/100)}}</h6>
                        <h6>Ahorra: &nbsp;${{property.price *property.discount/100}}</h6>
                    </div>
                    <h6>Descripción de la propiedad:</h6>
                    <textarea disabled="true" class="form-control" name="comment" cols="30" rows="5"> {{property.description}}</textarea>
                    <hr>
                    <h2 *ngIf="offers.length > 0">Última oferta: ${{offers[0].amount}}</h2>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 text-lg-left text-md-left text-sm-center">
                <h4>Dimensiones de la propiedad</h4>
                <div class="text-lg-left text-md-left text-sm-center">
                    <h6>Superficie total de la propiedad: &nbsp;{{property.landSquareMeters}} m<sup>2</sup></h6>
                    <h6>Superficie total construida: &nbsp;{{property.areaSquareMeters}} m<sup>2</sup></h6>
                    <h6>Dirección de la propiedad:</h6>
                    <textarea disabled="true" class="form-control" name="comment" cols="30" rows="5"> {{property.addressText}}</textarea>
                    <hr>
                    <h4>Documentos de la propiedad</h4>
                    <jhi-modal-document id="modal1" btnName="Ver plano" baseg4File="{{property?.sale?.cadastralPlan}}" title="Estudio registral de la propiedad"></jhi-modal-document>
                    <jhi-modal-document id="modal1" btnName="Ver estudio registral" baseg4File="{{property?.sale?.registryStudy}}" title="Plando de la propiedad"></jhi-modal-document>
                    <hr>
                    <hr>

                    <h2 *ngIf="offers.length > 0">Última oferta: ${{offers[0].amount}}</h2>
                </div>
            </div>
        </div>
        <div class="row"  *ngIf="offers.length > 0 && property.state === 1">
            <div class="col-md-12 col-lg-12">
                <a class="btn btn-outline-dark float-md-right float-lg-right" href="javascript:void(0);" (click)="closeAuction()">Cerrar subasta</a>
            </div>
        </div>
        <div class="row" *ngIf="offers.length > 0 && property.state == 3">
            <div class="col-md-12 col-lg-12">
                <div class="alert  alert-info opacity-8" role="alert mt-2">
                    <h3>Subasta cerrada</h3>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="container">
        <div class="row" *ngIf="offers.length > 0 ">
            <div class="col-md-12 col-lg-12 text-center mb-2">
                <h3>Ofertas del inmueble</h3>
            </div>
            <div class="col-md-4 col-lg-4" *ngFor="let offer of offers| paginate: { itemsPerPage: 3, currentPage: startPage}">
                <jhi-card-offer [amount]="''+offer.amount" [buyerName]="offer.userAccount?.user?.login+' '+offer.userAccount?.user?.firstName+' '+offer.userAccount?.user?.lastName" [buyerImage]="offer.userAccount?.profilePicture" [buyerMessage]="offer?.commentary"></jhi-card-offer>
            </div>
            <div class="col-md-12 text-center mb-2" *ngIf="offers.length > 3">
                <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="startPage = $event"></pagination-controls>
            </div>
        </div>

        <div class="row" *ngIf="offers.length == 0 ">
            <div class="col-md-12 col-lg-12 text-center mb-2">
                <h3>Sin ofertas por el momento</h3>
            </div>
        </div>
    </div>
</div>
