<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">

        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="form-group">
                <label for="message">Ingrese un mensage</label>
                <input id="message" name="message" type="text" class="form-control" [(ngModel)]="message">
            </div>
            <button (click)="sendMessage()">Enviar</button>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">

        </div>
    </div>
</div>
