<div class="container justify-content-center" style="margin-top: 110px;">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <form name="editForm" role="form" (ngSubmit)="save()" [formGroup]="propertyForm">
                <h2 id="edit" class="d-flex justify-content-center" *ngIf="myProperty.id != null" >Modificar un inmueble en subasta</h2>
                <h2 id="jhi-property-heading" class="d-flex justify-content-center" *ngIf="myProperty.id == null" >Registrar un inmueble en subasta</h2>
                <hr style="border: 0; height:1px;  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                <div [class]=" step === 1 ? 'd-block' : 'd-none'">
                    <h4>Datos del inmueble</h4>
                    <hr style="border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
                    <div class="row">
                        <div class="col-3" [hidden]="!propertyForm.get('id')!.value">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label"  for="field_title">Título</label>
                            <input type="text" class="form-control" name="title" id="field_title"
                                   formControlName="title"/>
                            <div *ngIf="propertyForm.get('title')!.invalid && (propertyForm.get('title')!.dirty || propertyForm.get('title')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="propertyForm.get('title')?.errors?.required">
                                    El título es requerido.
                                </small>
                                <br>
                            </div>
                            <label class="form-control-label"  for="field_moneyType">Tipo de Moneda</label>
                            <select class="form-control" id="field_moneyType" name="moneyType" formControlName="moneyType">
                                <option selected disabled>Seleccione una opción</option>
                                <option [ngValue]="moneyTypeOption.id === propertyForm.get('moneyType')!.value?.id ? propertyForm.get('moneyType')!.value : moneyTypeOption" *ngFor="let moneyTypeOption of lstMoneytypes; trackBy: trackById">{{ moneyTypeOption.name }}</option>
                            </select>
                            <div *ngIf="propertyForm.get('moneyType')!.invalid && (propertyForm.get('moneyType')!.dirty || propertyForm.get('moneyType')!.touched)">
                                <small class="form-text text-danger" *ngIf="propertyForm.get('moneyType')?.errors?.required">
                                    El tipo de moneda es requerido.
                                </small>
                                <br>
                            </div>
                            <label class="form-control-label"  for="field_discount">Descuento</label> <br>
                                <input type="tex" class="form-control w-50 d-inline-block" name="discount" id="field_discount"  formControlName="discount" [min]="0"  [max]="100" [maxlength]="3" placeholder="0" digitOnly >
                                <output class="ml-2  d-inline-block">{{propertyForm.get('discount')?.value}}%</output>
<br>
                            <label class="form-control-label"  for="field_propertyCategory">Categoría del inmueble</label>
                            <select class="form-control" id="field_propertyCategory" name="propertyCategory" formControlName="propertyCategory">
                                <option [ngValue]="null" selected disabled></option>
                                <option [ngValue]="propertyCategoryOption.id === propertyForm.get('propertyCategory')!.value?.id ? propertyForm.get('propertyCategory')!.value : propertyCategoryOption" *ngFor="let propertyCategoryOption of lstPropertyCategories; trackBy: trackById">{{ propertyCategoryOption.name }}</option>
                            </select>
                            <div *ngIf="propertyForm.get('propertyCategory')!.invalid && (propertyForm.get('propertyCategory')!.dirty || propertyForm.get('propertyCategory')!.touched)">
                                <small class="form-text text-danger" *ngIf="propertyForm.get('propertyCategory')?.errors?.required">
                                    La categoría del inmueble es requerido.
                                </small>
                                <br>
                            </div>
                            <label class="form-control-label"  for="field_areaSquareMeters">Area de construcción en m<sup>2</sup></label>
                            <input type="number" class="form-control" name="areaSquareMeters" id="field_areaSquareMeters" min="0"  oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" formControlName="areaSquareMeters"/>
                            <div *ngIf="propertyForm.get('areaSquareMeters')!.invalid && (propertyForm.get('areaSquareMeters')!.dirty || propertyForm.get('areaSquareMeters')!.touched)">
                                <small class="form-text text-danger" *ngIf="propertyForm.get('areaSquareMeters')?.errors?.required">
                                    El área de construcción es requerido.
                                </small>
                                <br>
                            </div>
                            <label class="form-control-label" for="field_propertyId">Número de plano</label>
                            <input type="number" class="form-control" name="propertyId" id="field_propertyId" min="0" formControlName="propertyId" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" />
                            <div *ngIf="propertyForm.get('propertyId')!.invalid && (propertyForm.get('propertyId')!.dirty || propertyForm.get('propertyId')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="propertyForm.get('propertyId')?.errors?.required">
                                    El número de plano es requerido.
                                </small>

                                <br>
                            </div>

                            <label class="form-control-label"  for="field_landSquareMeters">Dimensiones en m<sup>2</sup> del inmueble</label>
                            <input type="number" class="form-control" name="landSquareMeters" id="field_landSquareMeters" min="0" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" formControlName="landSquareMeters"/>
                            <div *ngIf="propertyForm.get('landSquareMeters')!.invalid && (propertyForm.get('landSquareMeters')!.dirty || propertyForm.get('landSquareMeters')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="propertyForm.get('landSquareMeters')?.errors?.required">
                                    Las dimensiones del inmueble es requerido.
                                </small>
                                <br>
                            </div>
                        </div>

                        <div class="col">
                            <label class="form-control-label"  for="field_description">Descripción</label>
                            <textarea  class="form-control" name="description" id="field_description"  formControlName="description"  rows="5" cols="40"></textarea>
                            <div *ngIf="propertyForm.get('description')!.invalid && (propertyForm.get('description')!.dirty || propertyForm.get('description')!.touched)">
                                <small class="form-text text-danger" *ngIf="propertyForm.get('description')?.errors?.required">
                                    Las descripción del inmueble es requerido.
                                </small>
                                <br>
                            </div>
                            <label class="form-control-label"  for="field_price">Precio</label>
                            <input type="text" class="form-control" name="price" id="field_price"  currencyMask [options]="{align: 'left',prefix:'',decimal:''}" formControlName="price"/>

                            <div *ngIf="propertyForm.get('price')!.invalid && (propertyForm.get('price')!.dirty || propertyForm.get('price')!.touched)">
                                <small class="form-text text-danger"  *ngIf="propertyForm.get('price')?.errors?.required">
                                    El precio del inmueble es requerido.
                                </small>
                                <br>
                            </div>
                            <label class="form-control-label" for="field_finalDate">Fecha de expiración</label>
                            <div class="d-flex">
                                <input id="field_finalDate"  type="datetime-local" class="form-control" name="finalDate" formControlName="finalDate" placeholder="YYYY-MM-DD HH:mm"/>
                            </div>
                            <div *ngIf="propertyForm.get('finalDate')!.invalid && (propertyForm.get('finalDate')!.dirty || propertyForm.get('finalDate')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="propertyForm.get('finalDate')?.errors?.required">
                                    La fecha de finalización es requerida.
                                </small>
                                <br>
                            </div>
                            <label class="form-control-label"  for="field_addressText">Dirección exacta del inmueble</label>
                            <textarea class="form-control" name="addressText" id="field_addressText" formControlName="addressText"  rows="5" cols="40"></textarea>
                            <div *ngIf="propertyForm.get('addressText')!.invalid && (propertyForm.get('addressText')!.dirty || propertyForm.get('addressText')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="propertyForm.get('addressText')?.errors?.required">
                                    La dirección es requerida.
                                </small>
                                <br>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label" for="cadastralPlan" >Plano catastrado</label>
                            <div class="custom-file">
                                <input accept="application/pdf"  type="file"
                                       class="btn btn-primary custom-file-input" id="cadastralPlan"
                                       aria-describedby="inputGroupFileAddon01"
                                       (change)="onFileSelected($event,1, labelcadastralPlan)"
                                       name="cadastralPlan" formControlName="cadastralPlan">
                                <label #labelcadastralPlan class="custom-file-label" for="cadastralPlan" data-browse="Buscar">Suba su archivo</label>
                            </div>
                            <div *ngIf="propertyForm.get('cadastralPlan')!.invalid && (propertyForm.get('cadastralPlan')!.dirty || propertyForm.get('cadastralPlan')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="propertyForm.get('cadastralPlan')?.errors?.required">
                                    El plano catrastal es requerido.
                                </small>
                                <br>
                            </div>
                            <iframe src="../../../content/pdf/homeBuildingCadastral.pdf"  height="300" width="400" id="urlCadastralPlan" title="Iframe Example" class="mt-5 mb-5"></iframe>
                        </div>
                        <div class="col">
                            <label class="form-control-label" for="registryStudy">Estudio registral</label>
                            <div class="custom-file">
                                <input type="file" accept="application/pdf" class="custom-file-input primary" id="registryStudy"
                                       aria-describedby="inputGroupFileAddon02" (change)="onFileSelected($event,2,labelregistryStudy)"
                                       name="registryStudy" formControlName="registryStudy">
                                <label #labelregistryStudy class="custom-file-label" for="registryStudy" data-browse="Buscar">Suba su archivo</label>
                            </div>
                            <div *ngIf="propertyForm.get('registryStudy')!.invalid && (propertyForm.get('registryStudy')!.dirty || propertyForm.get('registryStudy')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="propertyForm.get('registryStudy')?.errors?.required">
                                    El estudio registral es requerido.
                                </small>
                                <br>
                            </div>
                            <iframe src="../../../content/pdf/homeBuildingStudy.pdf" height="300" width="400" id="urlRegistryStudy" class="mt-5 mb-5"></iframe>
                        </div>
                    </div>

                </div>
                <div [class]=" step === 2 ? 'd-block' : 'd-none'">
                    <h4>Imágenes y localización del inmueble</h4>
                    <hr style="border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);">

                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-4">
                            <div>
                            <label class="form-control-label" for="field_Category_Image">Seleccione un tipo de imagen</label>
                            <select class="form-control" id="field_Category_Image" name="imageCategory" formControlName="imageCategory">
                                <option [ngValue]="" disabled selected>Seleccione una opción</option>
                                <option [ngValue]="imageCategory.id === propertyForm.get('imageCategory')!.value?.id ? propertyForm.get('imageCategory')!.value : imageCategory" *ngFor="let imageCategory of lstImageCategory;">{{imageCategory.name}}</option>
                            </select>
                            <div *ngIf="propertyForm.get('imageCategory')!.invalid && (propertyForm.get('imageCategory')!.dirty || propertyForm.get('imageCategory')!.touched)">
                                <small class="form-text text-danger" *ngIf="propertyForm.get('imageCategory')?.errors?.required">
                                    El tipo de imagen es requerido.
                                </small>
                                <br>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-12">
                            <ngx-dropzone (change)="onSelectImage($event)"   class="mt-5" [multiple]="true" [accept]="'image/*'" >
                                <ngx-dropzone-label>Suba las imágenes de su inmueble con el tipo seleccionado</ngx-dropzone-label>
                                <ngx-dropzone-image-preview
                                    ngProjectAs="ngx-dropzone-preview"
                                    *ngFor="let f of files"
                                    [file]="f"
                                    [removable]="true"
                                    (removed)="onRemoveImage(f)">
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                            <small class="form-text text-danger mb-5" *ngIf="files.length===0&&errorImage">
                                Debe subir almenos una imagen.
                            </small>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="form-control-label" for="field_Province" >Provincia</label>
                            <select class="form-control" id="field_Province" name="province" formControlName="province"
                                    (change)="setCantonsList(provinceIndex.value)" #provinceIndex>
                                <option [ngValue]="" selected disabled>Seleccione una opción</option>
                                <option *ngFor="let provinceOption of lstProvinces;index as i" [value]="provinceOption.id">{{provinceOption.name}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <div *ngIf="isSelected==true">
                            <label class="form-control-label"  for="field_canton" >Cantón</label>
                            <select class="form-control" id="field_canton" name="canton" formControlName="canton">
                                <option [ngValue]="" selected disabled>Seleccione una opción</option>
                                <option [ngValue]="cantonOption.id === propertyForm.get('canton')!.value?.id ? propertyForm.get('canton')!.value : cantonOption" *ngFor="let cantonOption of lstCantons;">{{ cantonOption.name }}</option>
                            </select>

                            <small class="form-text text-danger" *ngIf="propertyForm.get('canton')?.errors?.required">
                                El cantón es requerido.
                            </small>
                            <br>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address1">Ingrese la dirección</label>
                        <input id="address1" name="address1" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" placeholder="Ingrese una dirección" class="form-control mb-3"/>
                        <agm-map style="height: 300px;"
                                 [latitude]="lat"
                                 [longitude]="lng"
                                 [zoom]="zoom"  (centerChange)="markerDragEnd($event)">
                            <agm-marker
                                [latitude]="lat"
                                [longitude]="lng"
                                [markerDraggable]="true"
                            ></agm-marker>
                        </agm-map>
                    </div>
                </div>


                <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                    <strong>Registration failed!</strong> Please try again later.
                </div>
                <div class="alert alert-danger" *ngIf="errorFiles">
                    Solo se permiten archivos PDF. Por favor, seleccione un archivo de este tipo.
                </div>
                <div class="alert alert-danger" *ngIf="isValidDate">
                    No es permitido escoger una fecha inferior a la actual ni mayor a su a paquete de publicidad. Si desea un paquete superior haz click <a [routerLink]="['/servicepayment']">aquí</a>.
                </div>
                <div class="alert alert-danger" *ngIf="saleExist">
                    El número de plano ya existe.
                </div>
                <div class="row justify-content-end">

                    <button type="button" id="cancel-save" class="btn btn-warning" (click)="previousState()">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
                    </button>
                    <button type="button" class="btn btn-primary" *ngIf="step != 1" (click)="previous()">Anterior</button>
                    <button type="button" class="btn btn-primary" *ngIf="step != 2" (click)="next()">Siguiente</button>


                    <button  type="submit" id="save-entity" [disabled]="propertyForm.invalid || isSaving" class="btn btn-primary" *ngIf="step == 2">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span>Enviar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
