<!--Contract, here we decide which of the two types of contracts will display.-->
<div id="TitleContract" class="border rounded p-3">
    <h2>HomeBuilding - Terminos del contrato</h2>
    <div *ngIf="rentContract">
        <H3 class="contractText">Contrato de alquiler</H3>
        <p class="contractText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <p class="contractText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <p class="contractText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <p class="contractText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div *ngIf="salesContract">
        <H3 class="contractText">Contrato de venta</H3>
        <p class="contractText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <p class="contractText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <p class="contractText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <p class="contractText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

<!--In this section we display and set the signature elements-->
<div class="row">
    <div class="col-3 float-left">
        <div class="card mt-3">
            <div *ngIf="!disabledSeller" class="card-header">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="seller" type="checkbox" (change)="checkSellerSignature()" [disabled]="disabledSeller"
                    [checked]="checkedSeller">
                    <label class="custom-control-label font-weight-bold" for="seller">Firmar</label>
                </div>
            </div>
            <div class="card-body text-center">
                <img *ngIf="checkedSeller" style="width: 65%" src="{{sellerSignaturePicture}}">
                <hr class="my-1">
                <p>Firma del due&ntilde;o</p>
            </div>
        </div>
    </div>

    <div class="col-6"></div>

    <div class="col-3 float-right">
        <div class="card mt-3">
            <div *ngIf="!disabledBuyer" class="card-header">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="buyer" type="checkbox" (change)="checkBuyerSignature()" [disabled]="disabledBuyer"
                           [checked]="checkedBuyer">
                    <label class="custom-control-label font-weight-bold" for="buyer">Firmar</label>
                </div>
            </div>
            <div class="card-body text-center">
                <img *ngIf="checkedBuyer" style="width: 65%"
                     src="{{buyerSignaturePicture}}">
                <hr class="my-1">
                <p>Firma del comprador</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div *ngIf="errorSignatureEmpty" class="col-12">
        <div class="alert alert-warning">
            Por favor, firme el documento antes de guardar
        </div>
    </div>
    <div *ngIf="error" class="col-12">
        <div class="alert alert-danger">
            Disculpe, ocurri&oacute; un error al guardar la firma. Vuelve a intentarlo m&aacute;s tarde.
        </div>
    </div>
    <div *ngIf="success" class="col-12">
        <div class="alert alert-success">
            Has firmado el contrato con &eacute;xito.
        </div>
    </div>
    <div *ngIf="errorNotAuthorization" class="col-12">
        <div class="alert alert-success">
            No tiene autorizaci&oacute;n para guardar una firma en el contrato
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a [routerLink]="''" class="btn btn-secondary float-right">Firmar m&aacute;s tarde</a>
        <button class="btn btn-primary float-right" type="submit" (click)="saveSignature()">Guardar</button>
    </div>
</div>

