
<div class="mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <agm-map style="height: 400px;"
                [latitude]="lat"
                [longitude]="lng" [zoom]="zoom"   [fitBounds]="true"
                         [minZoom]="7.5" [maxZoom]="7.5
" [scrollwheel]="true">
                <agm-marker
                  *ngFor=" let marker of markers"
                  [animation]="'BOUNCE'"
                [latitude]="marker.lat"
                  [longitude]="marker.lng"
               [agmFitBounds]="true" [iconUrl]="marker.icon" >
                    <agm-info-window [disableAutoPan]="true" style="overflow-x: hidden; min-height: 400px;" >
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6  p-b-2" *ngIf="marker.property.propertyImages != null">
                                       <img class="card-img" style="max-height: 150px; max-width:150px" src="{{marker.property.propertyImages[0].url}}">
                                    </div>
                                    <div class="col-sm-6  p-b-2" style="max-height: 150px; max-width:150px" *ngIf="marker.property.propertyImages == null">
                                    <img class="card-img" src="{{marker.icon}}">
                                    </div>
                                    <div class="col-sm-4 text-center offset-lg-1">
                                        <div class="row  m-x-auto m-b-2">
                                            <h2 class="card-title">{{marker.property.title}}</h2>
                                            <div class="col-sm-6  p-b-2" *ngIf="marker.property.sale.offers != null">
                                            <h4 class="card-text">Ultima oferta: {{marker.property.price}}</h4>
                                            </div>
                                            <h4 class="card-text" *ngIf="marker.property.sale.offers == null ">Precio incial: {{marker.property.price}}</h4>
                                            <a [routerLink]="['/bit-at-auction/', marker.property.id]"class="btn justify-content-center btn-primary">Ofertar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/card-block-->
                        </div>
                    </agm-info-window>
                </agm-marker>

                </agm-map>
            </div>
        </div>
</div>
