<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="row">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Reporte de subastas</h5>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Total de ofertas en subasta por provincia</h5>
                                    <jhi-bar-chart-auction></jhi-bar-chart-auction>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Total de subastas por provincia</h5>
                                    <jhi-pie-chart-auction></jhi-pie-chart-auction>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
