<div>
    <h2 id="page-heading">
        <span jhiTranslate="homeBuildingApp.canton.home.title">Cantons</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-canton" [routerLink]="['/canton/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="homeBuildingApp.canton.home.createLabel">
            Create a new Canton
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cantons?.length === 0">
        <span jhiTranslate="homeBuildingApp.canton.home.notFound">No cantons found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cantons && cantons.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="homeBuildingApp.canton.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="homeBuildingApp.canton.state">State</span></th>
                    <th scope="col" ><span jhiTranslate="homeBuildingApp.canton.creationDate">Creation Date</span></th>
                    <th scope="col" ><span jhiTranslate="homeBuildingApp.canton.province">Province</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let canton of cantons ;trackBy: trackId">
                    <td><a [routerLink]="['/canton', canton.id, 'view']">{{ canton.id }}</a></td>
                    <td>{{ canton.name }}</td>
                    <td>{{ canton.state }}</td>
                    <td>{{ canton.creationDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="canton.province">
                            <a [routerLink]="['/province', canton.province?.id, 'view']" >{{ canton.province?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/canton', canton.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/canton', canton.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(canton)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
