<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-score-heading" jhiTranslate="homeBuildingApp.score.home.createOrEditLabel">Create or edit a Score</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.score.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                           formControlName="rating"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.score.commentary" for="field_commentary">Commentary</label>
                    <input type="text" class="form-control" name="commentary" id="field_commentary"
                           formControlName="commentary"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.score.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" formControlName="creationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.score.state" for="field_state">State</label>
                    <input type="checkbox" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.score.userAccount" for="field_userAccount">User Account</label>
                    <select class="form-control" id="field_userAccount" name="userAccount" formControlName="userAccount">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userAccountOption.id === editForm.get('userAccount')!.value?.id ? editForm.get('userAccount')!.value : userAccountOption" *ngFor="let userAccountOption of useraccounts; trackBy: trackById">{{ userAccountOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.score.rent" for="field_rent">Rent</label>
                    <select class="form-control" id="field_rent" name="rent" formControlName="rent">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rentOption.id === editForm.get('rent')!.value?.id ? editForm.get('rent')!.value : rentOption" *ngFor="let rentOption of rents; trackBy: trackById">{{ rentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
