<section class="page-banner-section">
    <span class="title">Lista de subastas</span>
</section>
<div class="container mt-3">
    <div class="google-map">

    </div>
    <div class="row">
        <div class="col-3 offset-3">
            <div class="form-group">
                <label class="font-weight-600" for="sltProvincias">Provincia</label>
                <select id="sltProvincias" class="form-control">
                    <option value="{{province.id}}" *ngFor="let province of provinceList" >
                        {{province.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="font-weight-600" for="sltCantones">Cantón</label>
                <select id="sltCantones" class="form-control">

                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label class="font-weight-600" for="sltDistritos">Distrito</label>
                <select id="sltDistritos" class="form-control">

                </select>
            </div>
        </div>
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12"></div>
        <div *ngFor="let property of propertyList" class="col-6 col-sm-6 col-md-3 col-lg-3">
            <a [routerLink]="['/see-auction/', property.id]" class="property-item">
                <div class="image-banner"
                    style="background: url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center center no-repeat;background-size: cover ">
                </div>
                <div class="title">
                    {{property.title}}
                    <p class="text-muted description">
                        {{property.description}}
                    </p>
                </div>

            </a>
        </div>

    </div>
</div>
