<div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 jhiTranslate="register.title">Registration</h1>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <div class="alert alert-danger" *ngIf="errorSignatureNotSaved" jhiTranslate="global.messages.error.dontdrawsignature">
                The signature is required
            </div>

            <div class="alert alert-danger" *ngIf="errorUserImage" jhiTranslate="global.messages.error.dontuploadimage">
                The user image is required
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title" jhiTranslate="register.form.card-title">Personal Data</h2>
                    </div>
                    <div class="card-body">
                        <div class="row pb-3">
                            <div class="col-12">
                                <label>Imagen de su cuenta</label>
                                <ngx-dropzone (change)="onSelectImage($event)" class="m-1" [multiple]="false" [accept]="'image/*'">
                                    <ngx-dropzone-label>Suba una imagen de su perfil</ngx-dropzone-label>
                                    <ngx-dropzone-image-preview
                                        ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of files"
                                        [file]="f"
                                        [removable]="true"
                                        (removed)="onRemoveImage(f)">
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                                <input class="d-none" id="image" name="image" formControlName="image" type="text">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="identificationType" jhiTranslate="global.form.identification-type.label">Identification type</label>
                                    <select class="form-control" id="identificationType" name="identificationType"
                                           formControlName="identificationType" #identificationType>
                                        <option value="" selected disabled>Seleccione un tipo de identificaci&oacute;n</option>
                                        <option value="Nacional">{{ 'homeBuildingApp.IdentificationType.Nacional' | translate }}</option>
                                        <option value="Extranjera">{{ 'homeBuildingApp.IdentificationType.Extranjera' | translate }}</option>
                                    </select>

                                    <div *ngIf="registerForm.get('identificationType')!.invalid && (registerForm.get('identificationType')!.dirty || registerForm.get('identificationType')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('identificationType')?.errors?.required">
                                            El tipo de identificaci&oacute;n es requerido
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="identification" jhiTranslate="global.form.identification.label">Identification</label>
                                    <input type="text" class="form-control" id="identification" name="identification"
                                            formControlName="identification" #identification>
                                </div>

                                <div *ngIf="registerForm.get('identification')!.invalid && (registerForm.get('identification')!.dirty || registerForm.get('identification')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('identification')?.errors?.required">
                                        El n&uacute;mero de identificaci&oacute;n es requerido
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('identification')?.errors?.minlength || registerForm.get('identification')?.errors?.maxlength">
                                        El n&uacute;mero de identificaci&oacute;n son de 9 digitos
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="login" jhiTranslate="global.form.username.label">Username</label>
                                    <input type="text" class="form-control" id="login" name="login" placeholder="{{ 'global.form.username.placeholder' | translate }}"
                                           formControlName="login" #login>

                                    <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('login')?.errors?.required"
                                               jhiTranslate="register.messages.validate.login.required">
                                            Your username is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('login')?.errors?.minlength"
                                               jhiTranslate="register.messages.validate.login.minlength">
                                            Your username is required to be at least 1 character.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('login')?.errors?.maxlength"
                                               jhiTranslate="register.messages.validate.login.maxlength">
                                            Your username cannot be longer than 50 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('login')?.errors?.pattern"
                                               jhiTranslate="register.messages.validate.login.pattern">
                                            Your username can only contain letters and digits.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="birthdate" jhiTranslate="global.form.birthdate.label">Birth date</label>
                                    <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="YYYY-MM-DD"
                                           formControlName="birthdate" #birthdate>
                                </div>

                                <div *ngIf="registerForm.get('birthdate')!.invalid && (registerForm.get('birthdate')!.dirty || registerForm.get('birthdate')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('birthdate')?.errors?.required">
                                        La fecha de nacimiento es requerido
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="lastname1" jhiTranslate="global.form.lastname1.label">Last name 1</label>
                                    <input type="text" class="form-control" id="lastname1" name="lastname1"
                                           formControlName="lastname1" #lastname1>
                                </div>

                                <div *ngIf="registerForm.get('lastname1')!.invalid && (registerForm.get('lastname1')!.dirty || registerForm.get('lastname1')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('lastname1')?.errors?.required">
                                        El primer apellido es requerido
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="lastname2" jhiTranslate="global.form.lastname2.label">Last name 2</label>
                                    <input type="text" class="form-control" id="lastname2" name="lastname2"
                                           formControlName="lastname2" #lastname2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label">New password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                                           formControlName="password">

                                    <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('password')?.errors?.required"
                                               jhiTranslate="global.messages.validate.newpassword.required">
                                            Your password is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('password')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.newpassword.minlength">
                                            Your password is required to be at least 4 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('password')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                                            Your password cannot be longer than 50 characters.
                                        </small>
                                    </div>

                                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                                           formControlName="confirmPassword">

                                    <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                                               jhiTranslate="global.messages.validate.confirmpassword.required">
                                            Your confirmation password is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                            Your confirmation password is required to be at least 4 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                            Your confirmation password cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="phone" jhiTranslate="global.form.phone.label">Phone</label>
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="506 8888 8888"
                                           formControlName="phone" #phone>

                                    <div *ngIf="registerForm.get('phone')!.invalid && (registerForm.get('phone')!.dirty || registerForm.get('phone')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('phone')?.errors?.required">
                                            El tel&eacute;fono es requerido
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('phone')?.errors?.pattern">
                                            El tel&eacute;fono solo puede tener el siguiente formato (506 8888-8888)
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                           formControlName="email">

                                    <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('email')?.errors?.required"
                                               jhiTranslate="global.messages.validate.email.required">
                                            Your email is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('email')?.errors?.invalid"
                                               jhiTranslate="global.messages.validate.email.invalid">
                                            Your email is invalid.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('email')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.email.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="registerForm.get('email')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.email.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="signatureImageUrl">Firma</label>
                                <ng-signature-pad id="signatureImageUrl" clearButtonText='Limpiar' doneButtonText='Guardar firma'
                                                  (done)="saveSignatureImage($event)"></ng-signature-pad>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
                        <a class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
