<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sale-heading" jhiTranslate="homeBuildingApp.sale.home.createOrEditLabel">Create or edit a Sale</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.sale.finalDate" for="field_finalDate">Final Date</label>
                    <div class="d-flex">
                        <input id="field_finalDate" type="datetime-local" class="form-control" name="finalDate" formControlName="finalDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.sale.cadastralPlan" for="field_cadastralPlan">Cadastral Plan</label>
                    <input type="text" class="form-control" name="cadastralPlan" id="field_cadastralPlan"
                           formControlName="cadastralPlan"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.sale.registryStudy" for="field_registryStudy">Registry Study</label>
                    <input type="text" class="form-control" name="registryStudy" id="field_registryStudy"
                           formControlName="registryStudy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.sale.propertyId" for="field_propertyId">Property Id</label>
                    <input type="number" class="form-control" name="propertyId" id="field_propertyId"
                           formControlName="propertyId"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
