@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/cosmo/variables';
@import '~bootstrap/scss/variables';
/*font*/

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dropdown-menu {
  left: -122px !important;
  margin-top: 10px !important;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #ffffff;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffffff;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.dropdown > a {
  display: flex;
  align-items: center;
  .icon {
    margin-left: 0.25em;
  }
}

.dropdown:hover {
  .dropdown-nav {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.dropdown-nav {
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.88, -0.72, 0, 1), opacity 0.3s ease-in-out;
  transform: translateY(-4rem);
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  background: #ffffff;
  a {
    font-weight: 300;
    font-size: 1.2rem;
  }
}
