<header >
    <div id="header"></div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top  bg-primary">
        <a class="navbar-brand"  href="javascript:void(0);">
           <!-- <img src="../../../content/images/logo2.png" width="60" height="80" alt="">-->
            Home Building
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  {{router.url === '/' || router.url === '/homeAdmin'?'active d-none':''}}">
                    <a class="nav-link" [routerLink]="['/']">
                        <span>
                           <i class="fa fa-home"></i>
                            <span >Inicio</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item {{router.url === '/sales/list'?'active d-none':''}}"  *ngIf="isAuthenticated()">
                    <a class="nav-link" [routerLink]="['/sales/list']">
                        <span>
                            <i class="fa fa-university"></i>
                            <span >Subastas</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item {{router.url === '/professionals'?'active d-none':''}}"  *ngIf="isAuthenticated()">
                    <a class="nav-link" [routerLink]="['/professionals']">
                        <span>
                            <i class="fa fa-user-alt"></i>
                            <span >Profesionales</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="form-inline">
                <div  *ngIf="isAuthenticated()"  class="nav-item active ml-2 mr-2 mt-1 ">
                    <jhi-notifications></jhi-notifications>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li *ngIf="!isAuthenticated()" class="nav-item {{router.url === '/auth/login'?'active d-none':''}}">
                        <a class="nav-link" [routerLink]="['/auth/login']"  >
                            <span>
                                <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                                <span >Iniciar sesi&oacute;n</span>
                            </span>
                        </a>
                    </li>
                    <li *ngIf="!isAuthenticated()" class="nav-item {{router.url === '/account/register'?'active d-none':''}}">
                        <a class="nav-link" [routerLink]="['/account/register']">
                            <span>
                                <i class="fa fa-address-card"></i>
                                <span >Crear cuenta</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div *ngIf="isAuthenticated()" class="nav-item dropdown">
                <div class="btn btn-outline-light white py-1 px-3 mt-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img *ngIf="userAccount" class="avatar avatar-sm" [src]="userAccount.profilePicture" alt="Avatar" style="width: 30px !important; height: 30px !important;">
                    <span *ngIf="account" class="mx-2">
                        {{account.login}}
                    </span>
                </div>
                <div class="dropdown-menu dropdown-nav ">
                    <a routerLink="account/settings" class="dropdown-item">
                        <i class="fa fa-user-circle"></i>
                        <span>Mi perfil</span>
                        <i  *ngIf="userAccount?.publishingPackage?.type === 0 || userAccount?.publishingPackage?.type === null" style="font-size: 10px;" class="badge badge-pill badge-primary ml-1"
                           data-toggle="tooltip" data-placement="left" title="Cuentas con un paquete: Gratis" >
                            Gratis
                            <i style="font-size: 10px;" style="color: green" class="fa fa-leaf float-right d-inline-block"></i>
                        </i>
                        <i style="color: #4f40ff" class="far fa-gem float-right" *ngIf="userAccount?.publishingPackage?.type === 1"
                           data-toggle="tooltip" data-placement="left" title="Cuentas con un paquete: {{userAccount?.publishingPackage?.name}}"></i>
                        <i style="color: chartreuse" class="fas fa-spa float-right" *ngIf="userAccount?.publishingPackage?.type === 2"
                           data-toggle="tooltip" data-placement="left" title="Cuentas con un paquete: {{userAccount?.publishingPackage?.name}}"></i>
                    </a>
                    <a  *ngIf="userAccount?.publishingPackage?.professional" routerLink="/createProfessional" class="dropdown-item">
                        <i class="fas fa-user-tie"></i>
                        <span>Registro profesional</span>
                    </a>
                    <a (click)="validatePackage()" data-toggle="modal" [attr.data-target]="'#'+isInvalid" class="dropdown-item">
                        <i class="fa fa-building"></i>
                        <span>Registrar subasta</span>
                    </a>
                    <a *ngIf="this.professionalRegister == true" class="dropdown-item" [routerLink]="['/createProfessional']">
                        <i class="fa fa-briefcase"></i>
                        <span>Registrar S.Profesional</span>
                    </a>
                                           <!--<a href="javascript:;" class="dropdown-item">
                                               <i class="fa fa-truck-loading"></i>
                                               <span>Registrar alquiler</span>
                                           </a>-->
<!--                    <a href="javascript:;" class="dropdown-item">
                        <i class="fa fa-calendar"></i>
                        <span>Citas</span>
                    </a>-->
                    <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item"  [routerLink]="['/listPublishingPackage']">
                        <i class="fa fa-object-group"></i>
                        <span>Paquetes de publicidad</span>
                    </a>
                    <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item"  [routerLink]="['/support-ticket']">
                        <i class="fa fa-headset"></i>
                        <span>Soporte</span>
                    </a>
                    <a *jhiHasAnyAuthority="'ROLE_USER'" class="dropdown-item"  [routerLink]="['/myTickets']">
                        <i class="fa fa-headset"></i>
                        <span>Mis tickets</span>
                    </a>
                    <a class="dropdown-item"  [routerLink]="['/mySales']">
                        <i class="fa fa-object-group"></i>
                        <span>Mis subastas</span>
                    </a>
                    <a routerLink="my-offers" class="dropdown-item">
                        <i class="fa fa-exclamation-circle"></i>
                        <span>Mis ofertas</span>
                    </a>
                    <a  routerLink="/createProfessional" class="dropdown-item">
                        <i class="fab fa-black-tie"></i>
                        <span>Registro profesional</span>
                    </a>
                    <a routerLink="/servicepayment" class="dropdown-item">
                        <i class="fa fa-comment-dollar"></i>
                        <span>Comprar servicio</span>
                    </a>
                    <a routerLink="account/password" class="dropdown-item">
                        <i class="fa fa-key"></i>
                        <span>Actualizar contrase&ntilde;a</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a (click)="logout()" class="dropdown-item">
                        <i class="fa fa-sign-out-alt"></i>
                        <span>Cerrar sesi&oacute;n</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="modal"  id="exampleModalCenter" tabindex="-1" role="dialog" #content>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mensaje informativo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>El paquete publicitario que posee tu cuenta no permite mas registros de inmuebles.
                    <br><br>Para ampliar tus capacidades dentro de Home Building puedes cambiar tu paquete de usuario.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a routerLink="/servicepayment" type="button" class="btn btn-primary" data-dismiss="modal">Comprar otro paquete</a>
            </div>
        </div>
    </div>
</div>

