<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.changed.title}">homeBuilding password change</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.changed.greeting(${user.getFirstName()})}">
    Dear
</p>
<p th:text="#{email.changed.text1(${user.getPassword()})}">
    A password change has been made to your account, your new password is:
</p>
<p>
    <span th:text="#{email.changed.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
