<section class="react-reveal fadeIn jumbotron jumbomain" style="animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1;">
    <div class="slider-wrapper">
        <a class="previousButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" viewBox="0 0 20 30"><polygon fill="#000" points="20 15 4.228 0 0 3.626 11.954 15 0 26.374 4.228 30" transform="rotate(180 10 15)"></polygon></svg>
        </a>
        <a class="nextButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" viewBox="0 0 20 30"><polygon fill="#000" points="20 15 4.228 0 0 3.626 11.954 15 0 26.374 4.228 30" transform="rotate(0 10 15)"></polygon></svg>
        </a>
        <div class="track">
            <div class=" slide current slider-content current-img">
                <div class="inner" >
                    <h1>Home Building</h1>
                    <p>Compr&aacute; con tranquilidad</p>
                    <button class="btn btn-success btn-block" style="max-width: 300px">Ver casas en venta</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<jhi-property-block></jhi-property-block>-->
