<section class="react-reveal fadeIn jumbotron jumbomain"
    style="animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1;">
    <div class="slider-wrapper">
        <div class="track">
            <div class=" slide current slider-content current-img">
                <div class="inner">
                    <h1>Home Building</h1>
                    <p style="font-size:22px !important">BBienvenido a la subasta en línea más eficaz y famosa en Costa Rica</p>
                    <button class="btn btn-success btn-block" style="max-width: 300px">Ver subastas</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row" style="max-width: 100%;">
        <div class="col-12 text-center">
            <h3>Disfruta de las subastas con características profesionales y de confianza</h3>
            <p class="mt-2 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veniam illum nisi
                autem? Quis corporis qui animi eos reiciendis nesciunt, veniam impedit cum quasi facere aperiam ullam
                pariatur, est sunt.</p>
        </div>

    </div>
    <div class="row" style="max-width: 100%; margin-top:20px;padding:30px">
        <div class="col-4 text-center info-block">
            <fa-icon icon="home"></fa-icon>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias sit quis nisi eos ducimus aut
                exercitationem delectus natus voluptatem, minima et quidem odio nostrum nihil, ut fuga itaque culpa?</p>
        </div>
        <div class="col-4 text-center info-block">
            <fa-icon icon="home"></fa-icon>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias sit quis nisi eos ducimus aut
                exercitationem delectus natus voluptatem, minima et quidem odio nostrum nihil, ut fuga itaque culpa?</p>
        </div>
        <div class="col-4 text-center info-block">
            <fa-icon icon="home"></fa-icon>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias sit quis nisi eos ducimus aut
                exercitationem delectus natus voluptatem, minima et quidem odio nostrum nihil, ut fuga itaque culpa?</p>
        </div>
    </div>

</section>

<section>
    <div class="row" style="max-width: 100%;">
        <div class="col-12 text-center">
            <h3>¿En busca de un alquiler?</h3>
            <p class="mt-2 mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veniam illum nisi
                autem? Quis corporis qui animi eos reiciendis nesciunt, veniam impedit cum quasi facere aperiam ullam
                pariatur, est sunt.</p>
        </div>

    </div>
    <div class="row" style="max-width: 100%; margin-top:20px">
        <div class="col-12">
            <div class="slick">
                <div class="slick-slider slick-initialized" dir="ltr">
                    <div class="slick-list p-4 text-center">
                        <div data-index="0" tabindex="-1" aria-hidden="false"
                            class="slick-slide slick-active slick-current ">
                            <div>
                                <div>
                                    <div tabindex="-1" class="itm" style="width: 100%; display: inline-block;">
                                        <div class="bg"><img src="http://homekins.on3-step.com/img/feature/img1.jpg"
                                                alt="Imageteam" class="img-fluid"></div>
                                        <div class="desc">
                                            <div class="name">Propiedad</div>
                                            <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Culpa sunt cumque non nostrum dolore commodi asperiores
                                                repellendus dolorem quasi, delectus vel eius obcaecati odio blanditiis
                                                magnam nesciunt maxime omnis necessitatibus.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-index="0" tabindex="-1" aria-hidden="false"
                        class="slick-slide slick-active slick-current ">
                        <div>
                            <div>
                                <div tabindex="-1" class="itm" style="width: 100%; display: inline-block;">
                                    <div class="bg"><img src="http://homekins.on3-step.com/img/feature/img1.jpg"
                                            alt="Imageteam" class="img-fluid"></div>
                                    <div class="desc">
                                        <div class="name">Propiedad</div>
                                        <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Culpa sunt cumque non nostrum dolore commodi asperiores
                                            repellendus dolorem quasi, delectus vel eius obcaecati odio blanditiis
                                            magnam nesciunt maxime omnis necessitatibus.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="0" tabindex="-1" aria-hidden="false"
                    class="slick-slide slick-active slick-current ">
                    <div>
                        <div>
                            <div tabindex="-1" class="itm" style="width: 100%; display: inline-block;">
                                <div class="bg"><img src="http://homekins.on3-step.com/img/feature/img1.jpg"
                                        alt="Imageteam" class="img-fluid"></div>
                                <div class="desc">
                                    <div class="name">Propiedad</div>
                                    <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Culpa sunt cumque non nostrum dolore commodi asperiores
                                        repellendus dolorem quasi, delectus vel eius obcaecati odio blanditiis
                                        magnam nesciunt maxime omnis necessitatibus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-index="0" tabindex="-1" aria-hidden="false"
                class="slick-slide slick-active slick-current ">
                <div>
                    <div>
                        <div tabindex="-1" class="itm" style="width: 100%; display: inline-block;">
                            <div class="bg"><img src="http://homekins.on3-step.com/img/feature/img1.jpg"
                                    alt="Imageteam" class="img-fluid"></div>
                            <div class="desc">
                                <div class="name">Propiedad</div>
                                <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Culpa sunt cumque non nostrum dolore commodi asperiores
                                    repellendus dolorem quasi, delectus vel eius obcaecati odio blanditiis
                                    magnam nesciunt maxime omnis necessitatibus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
