.mainCard:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
}

.mainCard {
  box-shadow: 0 0 0px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
}

profilePicture {
  min-width: 250px;
  max-width: 600px;
}

#textAmount {
  padding: 5%;
}
