<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="homeBuildingApp.document.home.createOrEditLabel">Create or edit a Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.document.base64Code" for="field_base64Code">Base 64 Code</label>
                    <textarea class="form-control" name="base64Code" id="field_base64Code"
                              formControlName="base64Code"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.document.state" for="field_state">State</label>
                    <input type="checkbox" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.document.buyerState" for="field_buyerState">Buyer State</label>
                    <input type="checkbox" class="form-control" name="buyerState" id="field_buyerState"
                           formControlName="buyerState"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.document.sellerState" for="field_sellerState">Seller State</label>
                    <input type="checkbox" class="form-control" name="sellerState" id="field_sellerState"
                           formControlName="sellerState"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.document.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" formControlName="creationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.document.seller" for="field_seller">Seller</label>
                    <select class="form-control" id="field_seller" name="seller" formControlName="seller">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userAccountOption.id === editForm.get('seller')!.value?.id ? editForm.get('seller')!.value : userAccountOption" *ngFor="let userAccountOption of useraccounts; trackBy: trackById">{{ userAccountOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.document.buyer" for="field_buyer">Buyer</label>
                    <select class="form-control" id="field_buyer" name="buyer" formControlName="buyer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userAccountOption.id === editForm.get('buyer')!.value?.id ? editForm.get('buyer')!.value : userAccountOption" *ngFor="let userAccountOption of useraccounts; trackBy: trackById">{{ userAccountOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="homeBuildingApp.document.property" for="field_property">Property</label>
                    <select class="form-control" id="field_property" name="property" formControlName="property">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="propertyOption.id === editForm.get('property')!.value?.id ? editForm.get('property')!.value : propertyOption" *ngFor="let propertyOption of properties; trackBy: trackById">{{ propertyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
